<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Update User</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="user-infor-container">
                <form method="post" action="/user/update-user">
                    <div class="mb-3 mt-3 col-6">
                        <label for="Name" class="form-label">Name</label>
                        <input value="<%= userData.userName%>" name="name" type="text" class="form-control" placeholder="" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <input type="text" name="id" hidden="true" value="<%= userData.id%>">
                    <div class="col-6"></div>
                    <div class="mb-3 col-6">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input value="<%= userData.userEmail%>" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6"></div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>